html {
  background-color: black;
  font-size: 20px;
  font-family: 'Sarabun', sans-serif;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #2e0c0a;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(255, 0, 0);
}
h1 {
  font-family: 'Rubik Bubbles', cursive;
  color: brown;
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 20px 0;
  text-shadow: 3px 3px 1px black;
}
h2 {
  font-size: 25px;
  margin: 0;
  padding: 20px 0;
  color: brown;
  text-align: center;
}
p, li {
  color: red;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  line-height-step: 5px;
}
img {
  display: block;
  width: 400px;
  margin: 0 auto;
}